<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/3023c93a1c.js" crossorigin="anonymous"></script>
</head>
<body class="home">
    <header class="header--home">
        <nav class="header__nav--home">
            <div class="header__nav__contenedor--home">
                <div class="header__nav__contenedor--home--img">
                    <img src="/images/logo-mercado-liebre.svg" alt="logo mercado liebre"><br>
                </div>
                <div class="header__nav__contenedor--home--buscador">
                    <input type="search" placeholder="Buscar productos, marcas"><br>
                    
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>               
                </div>
                <p><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </nav>
        <div class="header--listas">
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                <li><a href="">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
            <div class="header__container--home">
                <div class="burguer-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </div>   
        </div>
    </header>
    <main  class="main--home">
        <img src="/images/img-home-banner.jpg" alt="banner" class="main--home--banner">
        <section class="main__section--home">
            <h3><b>Basado en tu última visita</b></h3>
            <div class="main__section--home--articulos">
                <article class="main__section__article--home">                
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex" class="product-img">
                    <div>
                        <i class="fa-solid fa-truck"></i>
                        <p class="main__section__price--home">$6.770</p>
                        <p class="main__section__discount--home">40% OFF</p>
                        <h4><b>Cafetera Moulinex</b></h4>
                    </div>
                </article>
                <article class="main__section__article--home">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="macbook pro 2019" class="product-img">
                    <div>
                        <i class="fa-solid fa-truck"></i>
                        <p class="main__section__price--home">$230.000</p>
                        <p class="main__section__discount--home">20% off</p>
                        <h4><b>MacBook Pro 2019</b></h4>
                    </div>
                </article>
                <article class="main__section__article--home">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10" class="product-img">
                <div>
                    <i class="fa-solid fa-truck"></i>
                    <p class="main__section__price--home">$70.500</p>
                    <p class="main__section__discount--home">10% off</p>
                    <h4><b>Samsung Galaxy S10</b></h4>
                </div>
            </article>
            <article class="main__section__article--home">
                <img src="/images/img-tv-samsung-smart.jpg" alt="tv samsung smart" class="product-img">
                <div>
                    <i class="fa-solid fa-truck"></i>
                    <p class="main__section__price--home">$23.200</p>
                    <p class="main__section__discount--home">5% off</p>
                    <h4><b>SmartTv Samsung 43"</b></h4>
                </div>              
            </article>
        </div>
        </section>
        <section class="main__section--home">
            <h3><b>Ofertas</b></h3>
            <div class="main__section--home--articulos">
                <article class="main__section__article--home">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex" class="product-img">
                    <div>
                        <i class="fa-solid fa-truck"></i>
                    <p class="main__section__price--home">$6.770</p>
                    <p class="main__section__discount--home">40% OFF</p>
                    <h4><b>Cafetera Moulinex</b></h4>
                </div>
            </article>
            <article class="main__section__article--home">
                <img src="/images/img-macbook-pro-2019.jpg" alt="macbook pro 2019" class="product-img">
                <div>
                    <i class="fa-solid fa-truck"></i>
                    <p class="main__section__price--home">$230.000</p>
                    <p class="main__section__discount--home">20% off</p>
                    <h4><b>MacBook Pro 2019</b></h4>
                </div>
            </article>
            <article class="main__section__article--home">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10" class="product-img">
                <div>
                    <i class="fa-solid fa-truck"></i>
                    <p class="main__section__price--home">$70.500</p>
                    <p class="main__section__discount--home">10% off</p>
                    <h4><b>Samsung Galaxy S10</b></h4>
                </div>
            </article>
            <article class="main__section__article--home">
                <img src="/images/img-tv-samsung-smart.jpg" alt="tv samsung smart 43 pulgadas" class="product-img">
                <div>
                    <i class="fa-solid fa-truck"></i>
                    <p class="main__section__price--home">$23.200</p>
                    <p class="main__section__discount--home">5% off</p>
                    <h4><b>SmartTv Samsung 43"</b></h4>
                </div>
            </article>    
        </div>
        </section>
    </main>
    <footer class="footer--home">
        <section class="footer__section--home">
            <i class="fa-solid fa-credit-card"></i>
            <h4><b>Pagá con tarjeta o en efectivo</b></h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin <br> interés con tarjeta o efectivo en
                puntos de <br> pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="footer__section--home">
            <i class="fa-solid fa-gift"></i>
            <h4><b>Envío gratis desde $ 2.500</b></h4>
            <p>Solo por estar registrad@ en Mercado Liebre <br> tenés envíos gratis en miles de
                productos. Es <br> un beneficio de Mercado Puntos.</p>
        </section>
        <section class="footer__section--home">
            <i class="fa-solid fa-user-shield"></i>
            <h4><b>Seguridad, de principio a fin</b></h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre <br> , no hay nada que no puedas hacer,
                porque estás <br> siempre protegid@.</p>
        </section>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>

    