<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <img src="/images/logo-mercado-liebre.svg" alt="logo mercado liebre" width="370">
            <p>Lugar para poner la barra de búsqueda</p>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </nav>
        <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="">Creá tu cuenta</a></li>
            <li><a href="">Ingresá</a></li>
            <li><a href="">Mis compras</a></li>
        </ul>
    </header>
    <main>
        <img src="/images/img-home-banner.jpg" alt="banner" width="370">
        <section>
            <h4><b>Sección:Basado en tu última visita</b></h4>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex" width="370">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h4><b>Cafetera Moulinex</b></h4>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="macbook pro 2019" width="370">
                <p>$230.000</p>
                <p>20% off</p>
                <h4><b>MacBook Pro 2019</b></h4>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10" width="370">
                <p>$70.500</p>
                <p>10% off</p>
                <h4>Samsung Galaxy S10</h4>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="tv samsung smart" width="370">
                <p>$23.200</p>
                <p>5% off</p>
                <h4>SmartTv Samsung 43"</h4>
            </article>
        </section>
        <section>
            <h4><b>Sección de Ofertas</b></h4>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex" width="370">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h4><b>Cafetera Moulinex</b></h4>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="macbook pro 2019" width="370">
                <p>$230.000</p>
                <p>20% off</p>
                <h4><b>MacBook Pro 2019</b></h4>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10" width="370">
                <p>$70.500</p>
                <p>10% off</p>
                <h4><b>Samsung Galaxy S10</b></h4>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="tv samsung smart 43 pulgadas" width="370">
                <p>$23.200</p>
                <p>5% off</p>
                <h4><b>SmartTv Samsung 43"</b></h4>
            </article>
        </section>    
    </main>
    <footer>
        <section>
            <h4><b>Pagá con tarjeta o en efectivo</b></h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin <br> interés con tarjeta o efectivo en
                puntos de <br> pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h4><b>Envío gratis desde $ 2.500</b></h4>
            <p>Solo por estar registrad@ en Mercado Liebre <br> tenés envíos gratis en miles de
                productos. Es <br> un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h4><b>Seguridad, de principio a fin</b></h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre <br> , no hay nada que no puedas hacer,
                porque estás <br> siempre protegid@.</p>
        </section>
        <section>
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </section>
    </footer>
</body>
</html>