<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <link rel="stylesheet" href="/css/styles.css"/>
  <script src="https://kit.fontawesome.com/3023c93a1c.js" crossorigin="anonymous"></script>
  <body>
    <header class="header--home">
      <nav class="header__nav--home">
        <div class="header__nav__contenedor--home">
          <div class="header__nav__contenedor--home--img">
            <img
              src="/images/logo-mercado-liebre.svg"
              alt="logo mercado liebre"
            /><br />
          </div>
          <div class="header__nav__contenedor--home--buscador">
            <input
              type="search"
              placeholder="Buscar productos, marcas y mas"
            /><br />

            <button><i class="fa-solid fa-magnifying-glass"></i></button>
          </div>
          <p>
            <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y
            sin tarjeta de crédito
          </p>
        </div>
      </nav>
      <div class="header--listas">
        <ul>
          <li><a href="">Ofertas</a></li>
          <li><a href="">Tiendas Oficiales</a></li>
          <li><a href="">Vender</a></li>
          <li><a href="">Ayuda</a></li>
        </ul>
        <ul>
          <li>
            <a href="/register">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i>
          </li>
          <li>
            <a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i>
          </li>
          <li>
            <a href="">Mis compras</a><i class="fa-solid fa-basket-shopping"></i>
          </li>
        </ul>
        <div class="header__container--home">
          <div class="burguer-menu">
            <i class="fas fa-bars"></i>
          </div>
        </div>
      </div>
    </header>
    <main class="main--register">
      <section class="main__section--register">
        <form action="register.html" class="formulario">
            <div class="formulario__contenedor">
                <input class="formulario__caja" type="text" minlength="7" maxlength="70" name="nombre-apellido" id="nombre-apellido" placeholder="nombre y apellido"/>
            </div>
            <div class="formulario__contenedor">
                <input class="formulario__caja" type="text" required minlength="5" maxlength="20" name="nombre-usuario" id="nombre-usuario" placeholder="nombre de usuario"/>
            </div>
            <div class="formulario__contenedor">
                <input class="formulario__caja" type="email" required name="email" id="email" placeholder="E-mail"/>
            </div>
            <div class="formulario__contenedor--nacimiento">
                <label for="">fecha de nacimiento</label>
            <input
                class="formulario__caja" type="date" required name="fecha-nacimiento" id="fecha"/>
            </div>
            <div class="formulario__contenedor">
                <input class="formulario__caja" type="text" required name="domicilio" id="domicilio" placeholder="Domicilio"/>
            <div class="formulario--usuario">
                <h4>Perfil de usuario</h4>
                <input type="radio" name="usuario-perfil" id="comprador"><label for="comprador">Comprador</label>
                <input type="radio" name="usuario-perfil" id="vendedor"><label for="vendedor">Vendedor</label>
            </div>
            <div class="formulario--intereses">
                <h4>Perfil de usuario</h4>
                <input type="checkbox" name="Intereses" value="Electro"><label for="Electro">Electro</label><br>
                <input type="checkbox" name="Intereses" value=""><label for="Moda">Moda</label><br>
                <input type="checkbox" name="Intereses" value=""><label for="Hogar">Hogar</label><br>
                <input type="checkbox" name="Intereses" value=""><label for="Jugueteria">Jugueteria</label><br>
                <input type="checkbox" name="Intereses" value=""><label for="Vida sana">Vida sana</label>
            </div>
            <div class="formulario__contenedor">
                <h4>agregar foto de perfil</h4>
            <input class="formulario__caja" type="file" name="foto-perfil" id="foto-perfil" placeholder="ingrese su foto de perfil"/>
          </div>
          <div class="formulario__contenedor">
            <input class="formulario__caja" type="password" required name="password" id="password" placeholder="contraseña"/>
          </div>
          <div class="formulario__contenedor">
            <input class="formulario__caja" type="password" required name="password2" id="password2" placeholder="confirmar contraseña "/>
          </div>
          <div class="contenedor--boton">
            <button type="submit"><a href="/"></a>enviar</button>
            <button type="reset">borrar</button>
          </div>
        </form>
      </section>
    </main>
    <footer class="footer--home">
      <section class="footer__section--home">
        <i class="fa-solid fa-credit-card"></i>
        <h4><b>Pagá con tarjeta o en efectivo</b></h4>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin <br />
          interés con tarjeta o efectivo en puntos de <br />
          pago. ¡Y siempre es seguro!
        </p>
      </section>
      <section class="footer__section--home">
        <i class="fa-solid fa-gift"></i>
        <h4><b>Envío gratis desde $ 2.500</b></h4>
        <p>
          Solo por estar registrad@ en Mercado Liebre <br />
          tenés envíos gratis en miles de productos. Es <br />
          un beneficio de Mercado Puntos.
        </p>
      </section>
      <section class="footer__section--home">
        <i class="fa-solid fa-user-shield"></i>
        <h4><b>Seguridad, de principio a fin</b></h4>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre <br />
          , no hay nada que no puedas hacer, porque estás <br />
          siempre protegid@.
        </p>
      </section>
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>
