.header--home{
    background-color: var(--colorAmarillo);
    padding-bottom: 1px;
}

.header__nav--home img{
    width: 120px;
    margin: 28px 20px 10px 30px;
}

.header__nav--home input{
    margin-left: 20px;
    width: 160px;
    font-size: 12px;
}



.header__nav--home button{
    margin-left: 20px;
}

.header__nav--home p{
    margin-left: 50px;
}

.header--home ul{
    margin-top: 10px;
    display: none;
}

.header--home ul li{
    font-size: 12px;
    text-align: left;
}

.header__container--home{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.header--home .burguer-menu{
    background-color: var(--colorCeleste);
    color: #ffffff; 
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;    
    border-radius: 5px;
    margin: 20px;
}

@media(min-width: 361px){
    .header__container--home{
        display: none;
    }
    .header--home ul{
        display: block;
    }
}