.main--home{
    width: 90%;
    margin: 50px auto;
}


.main--home--banner{
width: 100%;
}

.main__section--home{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.main__section__article--home{
    background-color: #ffffff;
    width: 100%;
}

.main__section--home--articulos{
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
}

.main__section__article--home div{
    border-top: 1px solid var(--colorGrisclaro);
    padding: 15px;
}

.main__section--home h3{
    font-size: 24px;
    color: var(--colorGrisOscuro);
}

.product-img{
    width: 100%;
}

.main__section__article--home div {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
} 

.main__section__price--home{
    font-size: 18px;
    width: 30%;
}

.main__section__discount--home{
    font-size: 16px;
    width: 70%;
}

 .main__section__article--home h4 {
    font-size: 16px;
    width: 100%;
}

.main__section__article--home i{
    display: block;
 font-size: 16px;
 padding: 5px;
 width: 30px;
 height: 30px;
 border: 1px solid var(--colorVerde);
 background-color: #FFF;
 border-radius: 50%;
 position: absolute;
 right: 20px;
 top: -15px;
 color: var(--colorVerde);
}

.main__section__discount--home{
    color: var(--colorVerde);
}

.main__section__article--home h4{
    display: none;
}

.footer__section--home{
    text-align: center;
}

.footer--home{
    background-color: #ffffff;
}

footer .fa-solid{
    color: var(--colorCeleste);
    font-size: 2em;
    padding-top: 30px;
    padding-bottom: 10px;
}

.footer__section--home{
    margin: 45  px;
}

.footer--home{
    margin-bottom: 20px;
}

/* tablet */
/* medidas modificadas para que quede bien acomodado */
@media(min-width: 530px){
    .main__section__article--home h4{
        display: block;
    }
    .main__section__article--home{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .main__section--home--articulos{
        display: grid;
        grid-template-columns: auto auto;
        gap: 40px;
    }
}

/* laptop */
/* medidas modificadas para que quede bien acomodado */
@media(min-width: 1024px){
    .main__section--home--articulos{
        display: grid;
        grid-template-columns: auto auto auto auto;
     
    }
    .main__section__price--home{
        width: 40%;
    }
    
    .main__section__discount--home{
        width: 60%;
    }
}